<div class="row mt-5" *ngIf="state == 1">
	<div class="col">
		<h3>Number of domains in this colony: {{dataService.domainCount}}</h3>
		<ul>
			<li *ngFor="let idx of domainLoop()">
				<a href="#" routerLink="/colony/{{colonyName}}/{{colonyToDomainMapping[colonyName][idx].slug}}">{{colonyToDomainMapping[colonyName][idx].name}}</a>
			</li>
		</ul>
	</div>
</div>

<div *ngIf="state == 2">
	<div class="row mt-5">
		<div class="col">
			<h3>Number of Tasks(questions) in this domain: {{getTasks().length}}</h3>
		</div>
	</div>
	
	<div class="row mt-5">
		<div class="col-md-6">
			<h3>Open Questions</h3>
			<ul>
				<li *ngFor="let task of getTasks(1)">
					<a href="#" routerLink="/colony/{{colonyName}}/{{domainName}}/question//{{task.id}}">{{task.details.title}}</a>
				</li>
			</ul>
		</div>

		<div class="col-md-6">
			<h3>Open Evaluations</h3>
			<ul>
				<li *ngFor="let task of getTasks(2)">
					<a href="#" routerLink="/colony/{{colonyName}}/{{domainName}}/evaluate/{{task.id}}">{{task.details.title}}</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="row mt-5">
		<div class="col text-center">
			<h3>Finished Questions</h3>
			<ul>
				<li *ngFor="let task of getTasks(3)">
					<a href="#" routerLink="/colony/{{colonyName}}/{{domainName}}/question//{{task.id}}">{{task.details.title}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>
